* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

._picture {
  position: relative;
  padding-bottom: 50%;
}
._picture__itself {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.s-slider {
  position: relative;
}

.s-slider__frame {
  overflow: hidden;
}

.s-slider__wrapper {
  display: flex;
  position: relative;
}

.s-slider__wrapper.s-slider-effect {
  transition: left 0.7s ease;
}

.s-slider-slide {
  flex: 0 0 100%;
}

.s-slider-buttons {
  display: flex;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.s-slider-buttons__btn {
  width: 100%;
  padding: 15px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

.s-slider-buttons__btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.s-slider-buttons__btn_prev {
}
.s-slider-buttons__btn_next {
  margin-left: auto;
}
